.header {
  background: rgb(23, 23, 56);
  background: linear-gradient(
    110deg,
    rgba(23, 23, 56, 1) 0%,
    rgba(19, 52, 91, 1) 50%,
    rgba(11, 60, 129, 1) 97%
  );
}
.navbar {
  transition: 400ms ease-in-out;
  /* transition: 1s; */
  /* height: 0; */
  overflow: hidden;
  opacity: 30;
}
.open {
  height: 100vh;
  opacity: 1;
  background-color: #000;
}
